body {
	background: #BADA55;
}
.box {
	margin-left: 35%;
	margin-top: 5%;
	height: auto;
	max-width: 400px;
	background: white;
	border-radius: 5px; 
	box-shadow: 10px 10px 10px #888888;
}
p {
	margin: 0;
	flex: 1;
	padding: 25px;
	border-left: 1px solid #D1E2FF;
}

.item {
	border-bottom: 1px solid #F1F1F1;
	display: flex;
	align-items: center;
}

input {
	margin: 25px;
	padding: 10px;
}

input:checked + p {
	background: #F9F9F9;
	text-decoration: line-through;
}
